<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<head>
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Vollkorn' />
    <link rel="stylesheet" type="text/css" href="${h.url_for('/m3u8player/public/m3u8player-style.css')}" />
    <title>Success!</title>
</head>

<body>

<h1>Congratulations,</h1>
<div>you installed your first MediaCore plugin!</div>

<div class="parameter">Specified tag_name is "${tag_name}".</div>

<div class="footer">
    Sample code provided by <a href="http://www.schwarz.eu">Felix Schwarz</a>
</div>
</body>

</html>
